@media screen and (max-width: 1028px) {	
header {
	height: 100%;
	width: 100%;
	background: url("../img/12.jpg") no-repeat center top / cover;
	opacity: 0.85;
}
	.about {
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-content: center;
}
nav {
	background: dark;
}
.navbar {
	background: dark;
	margin-right:0;
} 
.navbar-toggler {
	background: dark;
}
.navbar li {
margin-top: 0%;
padding: 5px;
padding-left: 10%;
padding-right: 10%;
}
.active a {
border-bottom: none;
 }
#info {
	height: 100%;
	}
.photo{
	width: 95%;
}	
.logo h1 {
	font-size: 48px;
}
.logo p {
	font-size: 40px;
}
.personal {
	padding-top: 1%;
	width: 90%;
	padding-left: 5%;
	text-align: center;
}
.personal h2 {
	margin-bottom: 5%;
}
.collapse  {
	display: block;
}
.about img {
	padding-left: 6%;
}
.logo{
	padding: 15%;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 15%;
}
#Resum1 .resume{
	display: flex;
	flex-direction:column-reverse;
	justify-content:center;
	align-items:center;
}
.resume{
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.cardcontainer {
	display: flex;
 	flex-direction:column;
 flex-grow: 1 1 1;
}

.resumeimg {
	padding-left: 2%;
}

.info {
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
#footer {
	
	height: 35vh;
} 
.line {
	margin-top: 20px;
}
}
